<h1>Απεικόνιση στατιστικών στοιχείων του <%=Station.find_by_id(@my_station).name %></h1>

<div >
		Επιλέξτε Καύσιμο
		<select id='fuel_type' name="fuel_type">
			<option value="Πετρέλαιο"> </option>
			<option value="Πετρέλαιο">Πετρέλαιο</option>
  			<option value="Βενζίνη">Βενζίνη</option>
  			<option value="Αέριο">Αέριο</option>
		</select>
</div>

<div >
		Επιλέξτε Δεύτερο Πρατήριο
		<select id='fuel_type' name="fuel_type">
			<option value="Πετρέλαιο"> </option>
			<option value="Πετρέλαιο">Πετρέλαιο</option>
  			<option value="Βενζίνη">Βενζίνη</option>
  			<option value="Αέριο">Αέριο</option>
		</select>
</div>
<!--<button id="Search_button" type="button" class="btn btn-primary">Αναζήτηση</button>-->

<div id='statistics' style="visibility:  hidden; min-width: 400px; height: 400px; margin: 0 auto">

	
</div>

<script>
	//statistics.style.visibility='hidden'
	//document.getElementById("Search_button").addEventListener("click", Search);
	$("#fuel_type").change(function (){
	//function Search(){
		fuel_type=$('select[name="' + "fuel_type" + '"]').val();
		$.ajax({
      		url: '/pages/contact',
      		type: 'GET',
      		data: {"fuel_type": fuel_type, "my_station": <%=params[:my_station]%>},
      		success: function(graph){
      			
      		}
    	});
    	//statistics.style.visibility='visible';
    	//var date=<%=@vehicle%>;
    	//var ftype=<%=@fuel_type%>;
    	//console.log(ftype);
	});
</script>

