<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<div >
		Επιλέξτε Καύσιμο
		<select name="fuel_type">
			<option value="Πετρέλαιο">Πετρέλαιο</option>
  			<option value="Βενζίνη">Βενζίνη</option>
  			<option value="Αέριο">Αέριο</option>
		</select>
</div>
<button id="Search_button" type="button" class="btn btn-primary">Αναζήτηση</button>

<div id='statistics' style="visibility:  hidden;">

	
</div>

<script>
	//statistics.style.visibility='hidden'
	document.getElementById("Search_button").addEventListener("click", Search);

	function Search(){
		fuel_type=$('select[name="' + "fuel_type" + '"]').val();
		$.ajax({
      		url: '/pages/contact',
      		type: 'GET',
      		data: {"fuel_type": fuel_type, "my_station": <%=params[:my_station]%>},
      		success: function(graph){
      			
      		}
    	});
    	//statistics.style.visibility='visible';
    	//var date=<%=@vehicle%>;
    	//var ftype=<%=@fuel_type%>;
    	//console.log(ftype);
	}
</script>

