<!--DYNAMIC SEARCH AT VEHICLES-->

<p style="width: 200px;">Αναζήτηση με σταθμό <input type="radio" onclick="javascript:stationOrNo();" name="yesno" id="yesCheck"></p> 
 <p style="width: 400px;">Αναζήτηση χωρίς σταθμό <input type="radio" onclick="javascript:stationOrNo();" name="yesno" id="noCheck"></p> 
 

<div class="mx-auto" style="width: 450px;">
	<div style="display: none;" id="showStation" >
		Select Station
		<select name="stations" id="stationSelector">
	    <% @prathrio.each do |prathrio| %>
	        <option ><%= prathrio %></option>
	    <% end %>
		</select>		
		<input type="checkbox" name="vehicle" id="compare" value="Bike" onclick="javascript:showMonth();"> Compare with other Users
	</div>

	<!--div class="help-tip">
		    <p>This is the inline help tip! It can contain all kinds of HTML. Style it as you please.</p>
		</div-->
	<div id="show" style="display:none;">
		<div >
			Select Vehicle
			<select name="vehicles">
		    <% @oxhmata.each do |name| %>
		        <option ><%= name %></option>
		    <% end %>
			</select>
		</div>

		<div id="months" >
			Select Month
			<select name="months" id="monthSelector">
		    <% @mhnes.each do |mhnes| %>
		        <option ><%= mhnes %></option>
		    <% end %>
			</select>
		</div>



		<div >
			Select Fuel type
			<select name="fuel_type">
		    <% @fuel_type.each do |prathrio| %>
		        <option ><%= prathrio %></option>
		    <% end %>
			</select>
		</div>

		<button id="Search_button" type="button" class="btn btn-primary">Search</button>
	</div>
</div>


<script>
	document.getElementById("Search_button").addEventListener("click", doAction);

	function doAction(){
		mhnes=$('select[name="' + "months" + '"]').val();
		vehicle=$('select[name="' + "vehicles" + '"]').val();
		stations=$('select[name="' + "stations" + '"]').val();
		fuel_type=$('select[name="' + "fuel_type" + '"]').val();
		checked=$('input[type=checkbox]').prop('checked');
		location.href= "/pages/statistics?q="+mhnes+","+vehicle+","+stations+","+fuel_type+","+checked;
	}

	//Epiloges

	function stationOrNo() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('showStation').style.display = 'block';
        document.getElementById('show').style.display = 'block';
        
    }
    else //if((document.getElementById('noCheck').checked)) {

    	document.getElementById('showStation').style.display = 'none';
    	document.getElementById('show').style.display = 'block';
    	document.getElementById('months').style.display = 'block';
    	document.getElementById('compare').checked=false;
    	document.getElementById('stationSelector').value="none";
    }
    //}

    function showMonth(){
    	if (document.getElementById('compare').checked && document.getElementById('yesCheck').checked){
    		document.getElementById('monthSelector').value="all";
    		document.getElementById('months').style.display = 'none';
    	}
    	else {
    		document.getElementById('months').style.display = 'block';
    	}
    }
</script>	
