<div class="review-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-10">
          <div>
            <%= review.content %>
          </div>

          <div class="comment-attribution">
            Review posted by <span class="review-name"><%= review.user.first_name %></span> <%= distance_of_time_in_words(review.created_at, Time.now) %> ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>